
<h2>home</h2>

<form action="javascript:void(0);"  class="pure-form">
  <fieldset>
  <input type="text" name="username"
    class="" placeholder="type you name here">
  <button class="submit pure-button pure-button-primary">ok</button>
  </fieldset>
</form>
