
<h2>new_tweet</h2>

<form action="javascript:void(0);" class="pure-form pure-form-stacked">
  <fieldset>
    <textarea name="tweet" placeholder="new tweet">
    </textarea>
    <button class="submit pure-button pure-button-primary">tweet it</button>
  </fieldset>
</form>


